* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --button-background-color: #f56a51;
  --orange-color: #ed563b;
  --p-color: #7a7a7a;
  --link-color: #007bff;
}

._header_info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

nav {
  background-color: rgb(0, 0, 0, 0.574);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav > h1 {
  color: white;
  cursor: pointer;
  font-size: 32px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  gap: 2rem;
  font-size: 18px;
  margin-right: 3rem;
}

nav > ul > li {
  list-style-type: none;
  cursor: pointer;
}

nav > ul > button {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
  background-color: var(--orange-color);
}
nav > ul > li:hover {
  color: var(--orange-color);
  transition: 0.3s all;
}

nav > ul > button:hover {
  background-color: var(--button-background-color);
  transition: 0.3s all;
}

nav > ._icon {
  color: white;
  font-size: 32px;
  display: none;
}

.div_info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.div_info > h1 {
  font-size: 5rem;
  margin: 2rem 0rem;
}

.div_info > button {
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--orange-color);
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.div_info > button:hover {
  background-color: var(--button-background-color);
  transition: 0.3s all;
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin: 2rem;
}
.text_container > h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.text_container > p {
  margin-top: 1rem;
  color: var(--p-color);
  max-width: 550px;
  text-align: center;
}

.article_one > article,
.article_two > article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.article_text > h3 {
  font-size: 1.3rem;
}
.article_text > p {
  line-height: 1.6rem;
  max-width: 400px;
  margin: 0.6rem 0;
  color: var(--p-color);
}
.article_text > p > a {
  text-decoration: none;
  color: var(--link-color);
}
.article_text > span {
  color: var(--orange-color);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}
.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section_two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg);
  background-attachment: fixed;
}
.section_two > h1 {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
}
.section_two > p {
  max-width: 800px;
  text-align: center;
  margin: 1rem 0;
  color: white;
}
.section_two > button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: #ed563b;
  border: none;
  cursor: pointer;
}

.section_article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.training_class > article {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 2rem 3rem;
  padding: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.training_class > article:nth-child(1) {
  color: var(--orange-color);
}
.training_class > button {
  margin-left: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem 1.5rem;
  width: 75%;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: white;
  background-color: var(--orange-color);
  border: none;
  cursor: pointer;
}
.img_training > h1 {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.img_training > p {
  max-width: 750px;
  color: var(--p-color);
  margin-bottom: 2rem;
}
.img_training > button {
  padding: 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--orange-color);
  border: none;
  cursor: pointer;
}
.section_three {
  padding: 2rem 0;
}

.list_section {
  background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
  background-position: center;
  height: 100%;
  background-size: cover;
}

.schedule_info {
  text-align: center;
  color: white;
  padding: 4rem 0rem;
  margin-top: 3rem;
}

.schedule_info > h1 {
  font-size: 2rem;
  font-weight: 800;
}

.schedule_info > img {
  width: 50px;
  margin: 1.5rem 0rem;
}

.schedule_info > p {
  font-size: 18px;
  line-height: 1.5rem;
}

.week_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  padding: 2rem 0rem;
}

.week_ul > li {
  list-style-type: none;
  text-transform: capitalize;
  transition: 0.3s all;
  font-size: 18px;
  cursor: pointer;
}

.week_ul > li > span {
  margin-left: 1rem;
}

.week_ul > li:hover {
  color: var(--text-color);
}

.week_ {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.week_ > p {
  color: white;
  border: 1px solid white;
  padding: 3rem 4rem;
}

.section_four{
    background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
   
}
.weekdays{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    gap: 1rem;
}
.weekdays > h4{
   
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s all;
}
.weekdays > h4:hover{
    color: var(--orange-color);
}
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: center;
    margin-top: 3rem;
}
.grid{
    font-size: 0.8rem;
    border: 1px solid white;
    padding: 2.5rem 3rem;
    color: white;
  
}
.article_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}
.article_container > article{
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem ;
    border-radius: 10px;
}
.article_container > article > h5{
    margin-top: 2rem;
    color: var(--orange-color);
}
.article_container > article > h3{
    margin: 1rem 0;
}
.article_container > article > p{
    margin: 1rem 0;
    color: var(--p-color);
    line-height: 1.5rem;
}
.article_container > article > img{
    width: 100%;
}
.article_container > article:nth-child(1) > p{
    width: 100%;
}
.icons_content > i{
   margin: 0 0.3rem;
   transition: 0.3s all;
   cursor: pointer;
}
.icons_content > i:hover{
    color: var(--orange-color);
}


.section_five{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}
.section_five > iframe{
    width: 50%;
    height: 73vh ;
    
   
}
.input_container{
    width: 50%;
    height: 100%;
    background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 3rem 0;
}
form{
    background-color: white;
    padding: 2rem;
    
    width: 60%;
}
.three_input{
    width: 100%;
   
}
.three_input > input{
    width: 37%;
    margin: 1rem;
    outline: none;
    height: 5vh;
}
.three_input > input:nth-child(3){
    width: 80%;
}
.textarea_content{
    width: 80%;
    margin: 1rem;
   
   
}
.textarea_content > textarea{
    outline: none;
    padding: 1rem;
    width: 100%;
    height: 20vh;
}
.textarea_content > button{
    padding: 1rem;
    margin-top: 1rem;
    color: white;
    background-color: var(--orange-color);
    border: none;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 0.8rem;
}

@media only screen and (max-width:1200px) {
    .section_article{
        flex-direction: column;
    }
    .section_five{
       flex-direction: column;
    }
    .section_five > iframe{
        
    }
    
    .section_five{
       height: 100%;
    }
    .section_five > iframe{
        height: 90vh;
    }
    .section_five > iframe,
    .textarea_content{
        width: 100%;
    }
    .input_container{
        width: 100%;
        height: 90%;
    }
    form{
        margin: 2rem;
        height: 90%;
        width: 80%;
    }
    .three_input{
        flex-direction: column
    }
    .three_input > input,
    .three_input > input:nth-child(3)
    {
        width: 90%;
    }
    .three_input > input:nth-child(1){
        margin-bottom: 1.3rem;
    }
    
    .textarea_content > textarea{
        width: 90%;
    }
    footer{
        text-align: center ;
        line-height: 1.5rem;
    }
  }

@media only screen and (max-width: 1100px) {
  nav > ul {
    display: none;
  }
  nav > h1 {
    font-size: 1.5rem;
    color: black;
  }

  nav {
    background-color: white;
  }

  nav > ._icon {
    display: block;
    color: black;
  }

  .div_info > h2 {
    margin-top: 1rem;
  }

  .div_info > h1 {
    font-size: 3rem;
  }

  .articles {
    flex-direction: column;
  }

  .section_two {
    text-align: center;
  }

  .section_two > P {
    text-align: center;
  }

  .section_three {
    flex-direction: column;
  }

  .training_class {
    flex-direction: column;
    width: 90%;
  }

  .section_article {
    flex-direction: column;
  }

  .img_training {
    width: 80%;
    margin: auto;
  }

  .img_training > img {
    width: 350px;
    margin: auto;
  }

  .schedule_info {
    padding: 3rem;
  }

  .schedule_info > h1 {
    font-size: 1.5rem;
  }

  .schedule_info > p {
    font-size: 17px;
  }

  .week_ul {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .week_ul > li {
    font-size: 10px;
  }

  .week_info {
    width: 100%;
    padding: 2rem;
  }

  .week_ > p {
    padding: 1rem;
    text-align: center;
    font-size: 14px;
  }
  section > .article_container {
    flex-direction: column;
  }

  .article_container > article {
    width: 100%;
  }
}
